<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Emoji</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Emoji</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Emoji</string>
				</dict>
			</dict>
			<key>Font_Awesome</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Font Awesome</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Font_Awesome</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:04:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Java_Lambda_Syntax</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:57:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Java Lambda Syntax</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Java_Lambda_Syntax</string>
				</dict>
			</dict>
			<key>Jira_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2016-01-26T19:20:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Jira Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Jira_Shortcuts</string>
				</dict>
			</dict>
			<key>LaTeX_Math_Symbols</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LaTeX Math Symbols</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LaTeX_Math_Symbols</string>
				</dict>
			</dict>
			<key>Licenses</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Licenses</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Licenses</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:21Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Semantic_Commits</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>git svn source control hg mercurial</string>
					</array>
					<key>name</key>
					<string>Semantic Commits</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Semantic_Commits</string>
				</dict>
			</dict>
			<key>Sublime_Text_3</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Sublime Text 3</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sublime_Text_3</string>
				</dict>
			</dict>
			<key>Swift</key>
			<dict>
				<key>date</key>
				<date>2015-12-08T21:10:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
						<string>xcode</string>
						<string>swift</string>
					</array>
					<key>name</key>
					<string>Swift</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Swift</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Xcode_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>Xcode</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Xcode_Shortcuts</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:05:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>iOS_Design</key>
			<dict>
				<key>date</key>
				<date>2016-01-26T19:20:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
						<string>objective-c</string>
					</array>
					<key>name</key>
					<string>iOS Design</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Design</string>
				</dict>
			</dict>
			<key>strftime_Format_Codes</key>
			<dict>
				<key>date</key>
				<date>2015-12-25T00:06:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>strftime Format Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>strftime_Format_Codes</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>com.typesafe.slick:slick_2.11</key>
			<dict>
				<key>date</key>
				<date>2015-12-25T00:36:28Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.typesafe.slick:slick_2.11</string>
					<key>platform</key>
					<string>scaladoc</string>
					<key>uniqueIdentifier</key>
					<string>com.typesafe.slick:slick_2.11</string>
				</dict>
			</dict>
			<key>net.databinder.dispatch:dispatch-core_2.11</key>
			<dict>
				<key>date</key>
				<date>2015-12-25T00:35:23Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>net.databinder.dispatch:dispatch-core_2.11</string>
					<key>platform</key>
					<string>scaladoc</string>
					<key>uniqueIdentifier</key>
					<string>net.databinder.dispatch:dispatch-core_2.11</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/Java_SE8/Java.docset</key>
			<string>java:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Akka - DHDocsetDownloader/2-4-1/Akka.docset</key>
			<string>akka:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Play Scala - DHDocsetDownloader/2-4-4/Play_Scala.docset</key>
			<string>play:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:00:33Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:32:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:32:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:02:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-06T21:02:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/LaTeX.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2015-12-03T00:31:21Z</date>
			</dict>
		</dict>
	</dict>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ch.qos.logback:logback-classic</key>
			<dict>
				<key>1.1.7</key>
				<dict>
					<key>date</key>
					<date>2015-12-14T17:47:25Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>ch.qos.logback:logback-classic</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>ch.qos.logback:logback-classic</string>
					</dict>
				</dict>
			</dict>
			<key>com.amazonaws:aws-java-sdk-core</key>
			<dict>
				<key>1.10.66</key>
				<dict>
					<key>date</key>
					<date>2016-01-26T19:20:56Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.amazonaws:aws-java-sdk-core</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.amazonaws:aws-java-sdk-core</string>
					</dict>
				</dict>
			</dict>
			<key>com.amazonaws:aws-java-sdk-kinesis</key>
			<dict>
				<key>1.10.66</key>
				<dict>
					<key>date</key>
					<date>2016-01-26T19:21:03Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.amazonaws:aws-java-sdk-kinesis</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.amazonaws:aws-java-sdk-kinesis</string>
					</dict>
				</dict>
			</dict>
			<key>com.amazonaws:aws-java-sdk-s3</key>
			<dict>
				<key>1.10.66</key>
				<dict>
					<key>date</key>
					<date>2016-03-23T15:33:58Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.amazonaws:aws-java-sdk-s3</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.amazonaws:aws-java-sdk-s3</string>
					</dict>
				</dict>
			</dict>
			<key>com.google.guava:guava</key>
			<dict>
				<key>19.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-14T17:47:45Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.google.guava:guava</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.google.guava:guava</string>
					</dict>
				</dict>
			</dict>
			<key>com.ibm.icu:icu4j</key>
			<dict>
				<key>57.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:54:04Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.ibm.icu:icu4j</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.ibm.icu:icu4j</string>
					</dict>
				</dict>
			</dict>
			<key>com.ning:async-http-client</key>
			<dict>
				<key>1.9.37</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T18:57:53Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.ning:async-http-client</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.ning:async-http-client</string>
					</dict>
				</dict>
			</dict>
			<key>com.typesafe.akka:akka-http-core-experimental_2.11</key>
			<dict>
				<key>2.0.4</key>
				<dict>
					<key>date</key>
					<date>2016-04-02T15:45:18Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.typesafe.akka:akka-http-core-experimental_2.11</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.typesafe.akka:akka-http-core-experimental_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.typesafe:config</key>
			<dict>
				<key>1.3.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:54:29Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.typesafe:config</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.typesafe:config</string>
					</dict>
				</dict>
			</dict>
			<key>com.univocity:univocity-parsers</key>
			<dict>
				<key>2.0.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-14T17:48:51Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.univocity:univocity-parsers</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>com.univocity:univocity-parsers</string>
					</dict>
				</dict>
			</dict>
			<key>commons-codec:commons-codec</key>
			<dict>
				<key>1.10</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:51:17Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>commons-codec:commons-codec</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>commons-codec:commons-codec</string>
					</dict>
				</dict>
			</dict>
			<key>commons-io:commons-io</key>
			<dict>
				<key>2.4</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:51:42Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>commons-io:commons-io</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>commons-io:commons-io</string>
					</dict>
				</dict>
			</dict>
			<key>commons-validator:commons-validator</key>
			<dict>
				<key>1.5.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:51:59Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>commons-validator:commons-validator</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>commons-validator:commons-validator</string>
					</dict>
				</dict>
			</dict>
			<key>de.svenkubiak:jBCrypt</key>
			<dict>
				<key>0.4.1</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T18:58:18Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>de.svenkubiak:jBCrypt</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>de.svenkubiak:jBCrypt</string>
					</dict>
				</dict>
			</dict>
			<key>joda-time:joda-time</key>
			<dict>
				<key>2.9.3</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:52:09Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>joda-time:joda-time</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>joda-time:joda-time</string>
					</dict>
				</dict>
			</dict>
			<key>org.antlr:antlr4-runtime</key>
			<dict>
				<key>4.5.3</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T21:02:24Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.antlr:antlr4-runtime</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.antlr:antlr4-runtime</string>
					</dict>
				</dict>
			</dict>
			<key>org.apache.commons:commons-compress</key>
			<dict>
				<key>1.10</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:55:28Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.apache.commons:commons-compress</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.apache.commons:commons-compress</string>
					</dict>
				</dict>
			</dict>
			<key>org.apache.commons:commons-csv</key>
			<dict>
				<key>1.2</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:55:40Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.apache.commons:commons-csv</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.apache.commons:commons-csv</string>
					</dict>
				</dict>
			</dict>
			<key>org.apache.commons:commons-lang3</key>
			<dict>
				<key>3.4</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:56:06Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.apache.commons:commons-lang3</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.apache.commons:commons-lang3</string>
					</dict>
				</dict>
			</dict>
			<key>org.apache.commons:commons-math3</key>
			<dict>
				<key>3.6.1</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T18:58:45Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.apache.commons:commons-math3</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.apache.commons:commons-math3</string>
					</dict>
				</dict>
			</dict>
			<key>org.apache.httpcomponents:httpclient</key>
			<dict>
				<key>4.5.2</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:56:59Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.apache.httpcomponents:httpclient</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.apache.httpcomponents:httpclient</string>
					</dict>
				</dict>
			</dict>
			<key>org.flywaydb:flyway-commandline</key>
			<dict>
				<key>4.0</key>
				<dict>
					<key>date</key>
					<date>2016-03-23T15:35:33Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.flywaydb:flyway-commandline</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.flywaydb:flyway-commandline</string>
					</dict>
				</dict>
			</dict>
			<key>org.flywaydb:flyway-core</key>
			<dict>
				<key>4.0</key>
				<dict>
					<key>date</key>
					<date>2016-03-23T15:35:38Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.flywaydb:flyway-core</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.flywaydb:flyway-core</string>
					</dict>
				</dict>
			</dict>
			<key>org.joda:joda-convert</key>
			<dict>
				<key>1.8.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T21:08:43Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.joda:joda-convert</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.joda:joda-convert</string>
					</dict>
				</dict>
			</dict>
			<key>org.joda:joda-money</key>
			<dict>
				<key>0.11</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:57:31Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.joda:joda-money</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.joda:joda-money</string>
					</dict>
				</dict>
			</dict>
			<key>org.jsoup:jsoup</key>
			<dict>
				<key>1.8.3</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:57:41Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.jsoup:jsoup</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.jsoup:jsoup</string>
					</dict>
				</dict>
			</dict>
			<key>org.mockito:mockito-all</key>
			<dict>
				<key>1.10.19</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T21:00:12Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.mockito:mockito-all</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.mockito:mockito-all</string>
					</dict>
				</dict>
			</dict>
			<key>org.mockito:mockito-core</key>
			<dict>
				<key>1.10.19</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T21:00:06Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.mockito:mockito-core</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.mockito:mockito-core</string>
					</dict>
				</dict>
			</dict>
			<key>org.seleniumhq.selenium:selenium-java</key>
			<dict>
				<key>2.44.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-14T17:52:33Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.seleniumhq.selenium:selenium-java</string>
						<key>platform</key>
						<string>javadoc</string>
						<key>uniqueIdentifier</key>
						<string>org.seleniumhq.selenium:selenium-java</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>com.github.nscala-time:nscala-time_2.11</key>
			<dict>
				<key>2.12.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:53:10Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.github.nscala-time:nscala-time_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.github.nscala-time:nscala-time_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.github.pathikrit:better-files_2.11</key>
			<dict>
				<key>2.15.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-14T17:53:07Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.github.pathikrit:better-files_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.github.pathikrit:better-files_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.github.t3hnar:scala-bcrypt_2.11</key>
			<dict>
				<key>2.5</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:53:28Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.github.t3hnar:scala-bcrypt_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.github.t3hnar:scala-bcrypt_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.softwaremill.macwire:macros_2.11</key>
			<dict>
				<key>2.2.2</key>
				<dict>
					<key>date</key>
					<date>2016-03-24T14:48:43Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.softwaremill.macwire:macros_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.softwaremill.macwire:macros_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.softwaremill.macwire:proxy_2.11</key>
			<dict>
				<key>2.2.2</key>
				<dict>
					<key>date</key>
					<date>2016-03-24T14:48:39Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.softwaremill.macwire:proxy_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.softwaremill.macwire:proxy_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.softwaremill.macwire:util_2.11</key>
			<dict>
				<key>2.2.2</key>
				<dict>
					<key>date</key>
					<date>2016-03-24T14:48:47Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.softwaremill.macwire:util_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.softwaremill.macwire:util_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.typesafe.akka:akka-http-core-experimental_2.11</key>
			<dict>
				<key>1.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:59:26Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.typesafe.akka:akka-http-core-experimental_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.typesafe.akka:akka-http-core-experimental_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.typesafe.scala-logging:scala-logging_2.11</key>
			<dict>
				<key>3.1.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:54:48Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.typesafe.scala-logging:scala-logging_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.typesafe.scala-logging:scala-logging_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>com.typesafe.slick:slick_2.11</key>
			<dict>
				<key>3.1.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-25T00:35:53Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>com.typesafe.slick:slick_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>com.typesafe.slick:slick_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>io.getquill:quill-async_2.11</key>
			<dict>
				<key>0.5.0</key>
				<dict>
					<key>date</key>
					<date>2016-02-03T18:07:05Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>io.getquill:quill-async_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>io.getquill:quill-async_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>io.getquill:quill-core_2.11</key>
			<dict>
				<key>0.5.0</key>
				<dict>
					<key>date</key>
					<date>2016-02-03T18:06:43Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>io.getquill:quill-core_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>io.getquill:quill-core_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>io.getquill:quill-jdbc_2.11</key>
			<dict>
				<key>0.5.0</key>
				<dict>
					<key>date</key>
					<date>2016-02-03T18:06:58Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>io.getquill:quill-jdbc_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>io.getquill:quill-jdbc_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>io.getquill:quill-sql_2.11</key>
			<dict>
				<key>0.5.0</key>
				<dict>
					<key>date</key>
					<date>2016-02-03T18:06:51Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>io.getquill:quill-sql_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>io.getquill:quill-sql_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>net.databinder.dispatch:dispatch-core_2.11</key>
			<dict>
				<key>0.11.3</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T21:06:55Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>net.databinder.dispatch:dispatch-core_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>net.databinder.dispatch:dispatch-core_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang.modules:scala-parser-combinators_2.11</key>
			<dict>
				<key>1.0.4</key>
				<dict>
					<key>date</key>
					<date>2016-02-06T01:59:54Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang.modules:scala-parser-combinators_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang.modules:scala-parser-combinators_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang.modules:scala-swing_2.11</key>
			<dict>
				<key>1.0.2</key>
				<dict>
					<key>date</key>
					<date>2016-02-06T02:52:06Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang.modules:scala-swing_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang.modules:scala-swing_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang.modules:scala-xml_2.11</key>
			<dict>
				<key>1.0.5</key>
				<dict>
					<key>date</key>
					<date>2016-02-06T01:59:04Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang.modules:scala-xml_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang.modules:scala-xml_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang:scala-compiler</key>
			<dict>
				<key>2.11.8</key>
				<dict>
					<key>date</key>
					<date>2016-02-06T02:11:23Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang:scala-compiler</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang:scala-compiler</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang:scala-reflect</key>
			<dict>
				<key>2.11.8</key>
				<dict>
					<key>date</key>
					<date>2016-02-06T02:09:35Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang:scala-reflect</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang:scala-reflect</string>
					</dict>
				</dict>
			</dict>
			<key>org.scala-lang:scalap</key>
			<dict>
				<key>2.11.8</key>
				<dict>
					<key>date</key>
					<date>2016-03-09T15:15:11Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scala-lang:scalap</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scala-lang:scalap</string>
					</dict>
				</dict>
			</dict>
			<key>org.scalactic:scalactic_2.11</key>
			<dict>
				<key>2.2.6</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T18:55:09Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scalactic:scalactic_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scalactic:scalactic_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scalamock:scalamock_2.11</key>
			<dict>
				<key>3.2.2</key>
				<dict>
					<key>date</key>
					<date>2015-12-08T20:58:45Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scalamock:scalamock_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scalamock:scalamock_2.11</string>
					</dict>
				</dict>
			</dict>
			<key>org.scalatest:scalatest_2.11</key>
			<dict>
				<key>2.2.6</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T18:56:12Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>org.scalatest:scalatest_2.11</string>
						<key>platform</key>
						<string>scaladoc</string>
						<key>uniqueIdentifier</key>
						<string>org.scalatest:scalatest_2.11</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Akka.xml</key>
			<dict>
				<key>2.3.14</key>
				<dict>
					<key>date</key>
					<date>2015-10-06T20:59:39Z</date>
				</dict>
				<key>2.4.2</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:50:52Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Apache_HTTP_Server.xml</key>
			<dict>
				<key>2.4.18</key>
				<dict>
					<key>date</key>
					<date>2015-12-25T00:31:39Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_3.xml</key>
			<dict>
				<key>3.3.6</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:51:50Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>4.5.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:52:28Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>4.7.0</key>
				<dict>
					<key>date</key>
					<date>2016-01-26T19:17:47Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>5.7</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:56:02Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Perl.xml</key>
			<dict>
				<key>5.22.0</key>
				<dict>
					<key>date</key>
					<date>2015-10-06T21:03:16Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Play_Scala.xml</key>
			<dict>
				<key>2.5.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:56:27Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>9.5.2</key>
				<dict>
					<key>date</key>
					<date>2016-04-02T15:43:06Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>2.7.11</key>
				<dict>
					<key>date</key>
					<date>2015-12-25T00:33:26Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>3.5.1</key>
				<dict>
					<key>date</key>
					<date>2015-12-25T00:33:34Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Scala.xml</key>
			<dict>
				<key>2.11.8</key>
				<dict>
					<key>date</key>
					<date>2015-10-06T21:03:52Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>2.2</key>
				<dict>
					<key>date</key>
					<date>2015-12-03T00:56:56Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>1.8</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T19:01:54Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>7.4</key>
				<dict>
					<key>date</key>
					<date>2015-10-06T21:04:10Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>1.12.2 or 2.2.2</key>
				<dict>
					<key>date</key>
					<date>2016-01-12T19:00:41Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
